.conteinerPost {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  gap: 5px;
  flex-wrap: wrap;
  margin-top: 20px;
}

.postText {
  resize: none;
  font-size: 24px;
  width: 100%;
  height: 70%;
  border-color: white;
  cursor: text;
  &:hover {
    border: 3px solid rgb(8, 139, 226);
    border-radius: 10px;
  }
  &:focus {
    outline: #ff0062;
  }
}

.conteinerFooterPost {
  border-top: 1px solid rgb(239, 243, 244);
  position: sticky;
  bottom: 0;
  padding-top: 15px;
  padding-bottom: 16px;
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  background-color: rgba(255, 255, 255, 1);
  border-bottom: 1px solid rgb(239, 243, 244);
}

.conteinerSvgPost {
  display: flex;
  gap: 9%;
}
