.container {
  display: grid;
grid-template-columns: 1fr ;
    grid-template-areas: 
    "leftsidebar" 
    "main" 
    "rightsidebar";
  @media screen and (min-width: 481px) {
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas: "leftsidebar main rightsidebar";
  }
}
