.closeBtn {
  position: absolute;
  left: 5px;
  top: 10px;
  border-radius: 16px;
  border: 0;
  background-color: rgba(0, 0, 0, 0);
  display: flex;
  cursor: pointer;

  &:hover {
    background-color: rgb(221, 217, 217);
  }
}

.twitterLogo {
  margin: 0 auto;
  width: 30px;
  height: 30px;
  margin-bottom: 30px;
}

.textContainer {
  margin-bottom: 20px;
  margin-top: 20px;
}

.link {
  text-decoration: none;
  cursor: pointer;

  &:hover {
    text-decoration: underline;
  }
}
