.closeBtn {
  position: absolute;
  left: 5px;
  top: 10px;
  border-radius: 16px;
  border: 0;
  background-color: rgba(0, 0, 0, 0);
  display: flex;
  cursor: pointer;
  &:hover {
    background-color: rgb(221, 217, 217);
  }
}

.textField {
  margin-bottom: 35px;
  height: 55px;
  
}
