.closeBtn {
  position: absolute;
  left: 5px;
  top: 10px;
  border-radius: 20px;
  border: 0;
  background-color: rgba(0, 0, 0, 0);
  &:hover {
    background-color: rgb(221, 217, 217);
  }
}
.twitterLogo {
  margin-bottom: 25px;
  width: 30px;
    height: 30px;
}
.textContainer{
  display: flex;
    flex-direction: column;
}

  

