
.closeBtn {
  position: absolute;
  left: 5px;
  top: 10px;
  border-radius: 16px;
  border: 0;
  background-color: rgba(0, 0, 0, 0);
  display: flex;
  cursor: pointer;
  &:hover {
    background-color: rgb(221, 217, 217);
  }
}
.twitterLogo {
  margin: 0 auto;
  width: 30px;
  height: 30px;
  padding-bottom: 30px;
}
.signUpBtn {
  display: "flex";
  gap: 15px;
  width:300px;
 
  
}
.separator {
  display: flex;
  justify-content: space-between;
  align-items: center; 
 margin-left: 15px;
  color:#0f1419;
  font-size: 17px;

}
.separator::before {
  content: "";
  min-width: 130px;
  border: 1px solid #cfd9de;
}

.separator::after {
  content: "";
  min-width: 130px;
  border: 1px solid #cfd9de;
}