.container {
  width: 500px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.titleJoin {
  font-size: 24px;
}

.clossvg {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  position: absolute;
  top: 1%;
  left: 1%;

  &:hover {
    background-color: #dce0dc;
  }
  @media (max-width: 700px) {
    top: 2%;
    left: 5%;
  }
}

.svgX {
  width: 28px;
}
.retreat {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 60%;
  // margin: 31px 0 12px;
  color: #848484;
  // margin: 10px;
}

.retreat::before {
  content: "";
  min-width: 45%;
  border: 1px solid #878383;
}

.retreat::after {
  content: "";
  min-width: 45%;
  border: 1px solid #878383;
}
.conteinerForm {
  width: 70%;
}
.textProfile {
  font-size: 22px;
  font-weight: 500;
  a {
    color: rgb(21, 17, 218);

    text-decoration: none;
    &:hover {
      text-decoration: underline;
    }
  }
}
